<div class="container">
  <p class="test-muted text-center">
    Scann qr-code for attentance</p>
</div>

<div class="container" style="background-color: white; ">

  <p class="test-muted text-center">
    <img src="assets/images/qr-code.png" height="50%" width="20%" alt="qr-code" />
  </p>

</div>
<div class="container">

  <p class="test-muted text-center">
    <label for="secretCode" class="text-info">SecretCode:</label><br>
    <input type="text" name="secretCode" id="secretCode">
  </p>

</div>


