
<div class="container">
  <div class="row col-md-6 col-md-offset-2 custyle">
    <div>
      <a routerLink="listCourse" class="btn btn-success btn-sm pull-right">+Courses</a>
      <a routerLink="addStudent" class="btn btn-success btn-sm pull-right">+Add new Student</a>
    </div>
    <table class="table table-striped custab">
      <thead>
      <tr>
        <th>Student Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Courses Registered</th>
        <th>Courses Register</th>
        <th class="text-center">Attendance</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students">
        <td>{{student.studentId}}</td>
        <td>{{student.firstName}}</td>
        <td>{{student.lastName}}</td>
        <td class="text-center"><a class='btn btn-info btn-sm' (click)="getCourses(student)"><span class="glyphicon glyphicon-edit"></span> Course Registered</a>
        <td class="text-center"><a class='btn btn-success btn-sm' (click)="addCourses(student)"><span class="glyphicon glyphicon-edit"></span>+Register Course</a>
        <td><a class='btn btn-info btn-sm' (click)="getAttendance(student)"><span class="glyphicon glyphicon-edit"></span> Attendance</a></td>
        <td class="text-center"><a class='btn btn-info btn-sm' (click)="editStudent(student)"><span class="glyphicon glyphicon-edit"></span> Edit</a> <button (click)="onDelete(student.id)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> Del</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


